@model IEnumerable<ManagementCinemaBookings.ViewModels.CinemaTicketBookingVM>

@{
    ViewBag.Title = "Index";
}

<div>
    <h2 class="cinTicket_title">LISTA REZERVISANIH KINO KARATA</h2>
    <br />
    <br />
    @Html.ActionLink("Dodaj", "Create", "CinemaTicketBookings", routeValues: new { controller = "CinemaTicketBookings", action = "Create" }, htmlAttributes: new { @class = "btn btn-md btn-success" })
</div>

<table class="table table-bordered table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatRow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatType)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatRow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatType)
            </td>
        </tr>
    }
</table>