@model ManagementCinemaBookings.ViewModels.CinemaScreeningVM

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-xs-10 col-xs-pull-2 col-xs-offset-5">
        <h2 class="createCinScreening_title">REZERVACIJA KINO PROJEKCIJA</h2>
        <br />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ScreeningStart, htmlAttributes: new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.TextBoxFor(model => model.ScreeningStart, "{0:s}", new { @type = "datetime-local", @class = "form-control", @style = "border:2px solid #5C423E;border-radius:5px;color:#5C423E;" })
                @Html.ValidationMessageFor(model => model.ScreeningStart, "", new { @style = "color:#ED371F;" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ScreeningEnd, htmlAttributes: new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.TextBoxFor(model => model.ScreeningEnd, "{0:s}", new { @type = "datetime-local", @class = "form-control", @style = "border:2px solid #5C423E;border-radius:5px;color:#5C423E;" })
                @Html.ValidationMessageFor(model => model.ScreeningEnd, "", new { @style = "color:#ED371F;" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SoldSeats, htmlAttributes: new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.EditorFor(model => model.SoldSeats, new { htmlAttributes = new { @class = "form-control", @style = "border:2px solid #5C423E;border-radius:5px;color:#5C423E;" } })
                @Html.ValidationMessageFor(model => model.SoldSeats, "", new { @style = "color:#ED371F;" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HallId, "ID dvorane", htmlAttributes: new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.DropDownList("HallId", null, htmlAttributes: new { @class = "form-control", @style = "border:2px solid #5C423E;border-radius:5px;color:#5C423E;" })           
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MovieId, "ID filma", htmlAttributes: new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.DropDownList("MovieId", null, htmlAttributes: new { @class = "form-control", @style = "border:2px solid #5C423E;border-radius:5px;color:#5C423E;" })           
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-10 col-xs-push-3">
                <input style="border:3px solid #FFF;" class="btn btn-lg btn-success" type="submit" value="Dodaj" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}